<header>
  <div class="logo">Xero<span>Source</span></div>
</header>
<div class="nav-btn">Menu</div>
<div class="container">
  <div class="sidebar">
    <nav>
      <a href="#">Torry Harris<span> Business Solutions</span></a>
      <ul>
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Social</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="main-content">
    <h1>Dashboard</h1>
    <p>Here you can stuff!</p>
    <div class="panel-wrapper">
      <div class="panel-head">
        Details
      </div>
    <div class="panel-body">
      <div class="user-details-wrapper">
        <div>
          <img src="{{ userInfo?.avatar }}" alt="User" height="80px" />
        </div>
        <div class="user-info">
          <p>
            <span>Firstname: </span>
            <span>{{ userInfo?.first_name }}</span>
          </p>
          <p>
            <span>Lastname: </span>
            <span>{{ userInfo?.last_name }}</span>
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="panel-wrapper">
      <div class="panel-head">
        Projects
      </div>
      <div class="panel-body"></div>
    </div>
    <div class="panel-wrapper">
      <div class="panel-head">
        News
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>